{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "reporter": ["html", "text-summary", "lcov"],
  "include": ["src/**/*.ts", "src/**/*.tsx", "src/**/*.js", "src/**/*.jsx"],
  "exclude": ["cypress/**/*.js"],
  "temp-directory": "./.nyc_output"
}
